header {
    padding:10px;
    width: auto;
    height: 70px;
    margin-right: auto;
    margin-left: -20px;
    margin-top: -40px;   
    margin-bottom: 0px;
    
}
p {
 font-size: 15px; 
}

#Left{
    background-color: aqua;
    width:25%;
    height: 100%;
    text-align: right;
    font-size: 45px;
    color: white;
    display: inline-block;
    
}
#Left p {
    
        display: inline;
    font-size: 30px;
    font-style: solid;
    vertical-align: -15px;;
    padding-right: 20px;
       
}

#Right{
    display: inline-block;
    
    
}

nav {
    text-align: center;   
}


.profilepic {
    border-radius: 80%;
    width: 200px;
    height: 200px;
}


    

li {
    
    display:list-item;
   
    
    
}
a{
    color:black;
    font-family: Arial;
    font-style: bold;
    text-decoration: none;
    padding: 50px;
   vertical-align: -15px;
    
}

blockquote{
    text-align:  right;   
}
body {
    min-width: 400;
    max-width: 800;
    
}

img {
    
    text-align: right;
   
}
footer {
    text-align: left;
font-size: 40;
 padding-right: 400; 
    
}

table {
    margin-left: 10%;
    margin-right: auto;
    padding: 75px;
    
}

.productPics {
 float: left;
}
