header {
    padding: 10px;
    width: 100%;
    height: 70px;
    margin-right: auto;
    margin-left: -20px;
    margin-top: -40px;
}

p {
    font-size: 15px;
}

#Left {
    background-color: aqua;
    width: 25%;
    height: 100%;
    text-align: right;
    font-size: 45px;
    color: white;
    display: inline-block;
}

#Left p {
    display: inline;
    font-size: 30px;
    font-style: solid;
    vertical-align: -15px;
    padding-right: 20px;
}

#Right {
    display: inline-block;
    width: 71%;
    vertical-align: -15px;
}

#slideshow {
    width: 1200px;
    height: 1400px;
    overflow: hidden;
    position: relative;
    padding-top: 100px;
    margin-left: auto;
    margin-right: auto;
}
.Productss
{
    
    background-color: deepskyblue;
    
    
    
}

#slideshow > div {
    width: inherit;
    height: inherit;
    position: absolute;
}

#slideshow > div > img {
    width: inherit;
}

.profilepic {
    border-radius: 80%;
    width: 200px;
    height: 200px;
}

.profilepic2 {
    border-radius: 80%;
    width: 250px;
    height: 300px;
}

.profilepic1 {
    border-radius: 80%;
    width: 200px;
    height: 200px;
}

#contactus {
   margin-left: 15%;
    margin-top: 50px;
    display: inline-block;
    width: 50%;
}

#contactForm {
    margin-left: 15%;
    margin-top: 10px;
    display: inline-block;
}

#ContactTitle {
    font-size: 40px;
}

.blueTitle {
    color: #31C192;
    padding-top: 5px;
    
}

#rightInfo {
    
   display: inline-block;
   padding-top: 50px;
    padding-left: 200px;
    margin-right: auto;
}



#name {}

#email {
    margin-top: 20px;
}


#Phone {
    margin-top: 20px;
}
#Phone2 {
 margin-top: 20px;   
}

#Question {
    margin-top: 20px;
}

#send {
    margin-top: 20px;
}

li {
    display: list-item;
}

a {
    color: black;
    font-family: Arial;
    font-style: bold;
    text-decoration: none;
    padding-left: 10%;
}

blockquote {
    text-align: right;
}

body {
    min-width: 400;
    max-width: 800;
}

img {
    text-align: right;
}

footer {
    text-align: left;
    font-size: 40;
    padding-right: 400;
}

table {
    margin-left: 10%;
    margin-right: auto;
    padding: 75px;
}

.productPics {
    float: left;
}
#Employees {
    width: 30%;
}
#contactPage {
    min-width: inherit;
    min-height: inherit
}
#CopyRText
{
 
    margin-left: 45%;
    margin-right: auto;
    
    position:fixed;
    bottom: 0px;
    
  
    width: 50%;
    
}
.MoveDown {
    
 margin-top: 30px;   
background-color: #A498DE;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 100%;
    padding-bottom: 300px;
    
}

#table1 {
    background-color: #a04;
    margin-left: auto;
    margin-right: auto;
}

#table2 {
    background-color: aqua;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

#table3 {
    background-color: #4a0;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
