header {
    padding:8px;
    width: auto;
    height: 50px;
    margin-right: auto;
    margin-left: -20px;
    margin-top: -40px;   
    margin-bottom: 0px;
    
}
p {
 font-size: 15;   
}

#Left{
    background-color: aqua;
    width:200px;
    height: 60px;
    text-align: right;
    font-size: 45px;
    color: white;
    
    
}

#Right{
    
    
}

nav {
    text-align: center;   
}


.profilepic {
    border-radius: 80%;
    width: 200px;
    height: 200px;
}


    

li {
    
    display:list-item;
   
    
    
}
a{
    color:black;
    font-family: Arial;
    font-style: bold;
    text-decoration: none;
}
p{
    padding: 10;
}
blockquote{
    text-align:  right;   
}
body {
    min-width: 400;
    max-width: 800;
    
}

img {
    
    text-align: right;
   
}
footer {
    text-align: left;
font-size: 40;
 padding-right: 400; 
    
}

table {
    margin-left: 10%;
    margin-right: auto;
    
}
