header {
    padding: 10px;
    width: 900px;
    height: 50px;
    margin-right: auto;
    margin-left: -20px;
    margin-top: -20px;   
    margin-bottom: 0px;
    background-color: aqua;
}

nav {
    text-align: center;   
}




ol li
{
    display:list-item;
  list-style-position: inside;
    padding: 10;
    padding-bottom: -60;
    
}
li {
    
    display:list-item;
   
    
    
}
a{
   
    color: #CBFFDB;
    font-family: Arial;
    font-style: bold;
    
    text-decoration: none;
    
    
    
}
p{
    padding: 10;
    text-align: right;
    
}
blockquote{
    text-align:  right;   
}
body {
   
    text-align:  right; 
    
    min-width: 400;
    max-width: 800;
    
}

img {
    
    text-align: right;
   
}
footer {
    text-align: left;
font-size: 20;
 padding-right: 400; 
    
}

table {
    margin-left: 10%;
    margin-right: auto;
    
}
