header {
    padding:10px;
    width: 100%;
    height: 70px;
    margin-right: auto;
    margin-left: -20px;
    margin-top: -40px;   
 
    
}
p {
 font-size: 15px; 
}

#Left{
    background-color: aqua;
    width:25%;
    height: 100%;
    text-align: right;
    font-size: 45px;
    color: white;
    display: inline-block;
    
}
#Left p {
    
    display: inline;
    font-size: 30px;
    font-style: solid;
    vertical-align: -15px;
    padding-right: 20px;
       
}

#Right{
    display: inline-block;
    width: 71%;
     vertical-align: -15px;
    
    
    
    
    
    
}
#slideshow {
    width: 1200px;
    height: 1200px;
    overflow: hidden;
    position: relative;
    padding-top: 100px;
    margin-left: auto;
    margin-right: auto;
    
}

#slideshow > div
{
    width: inherit;
    height: inherit;
    position: absolute;
}
#slideshow > div > img
{
   
    width: inherit;
    
}




.profilepic {
    border-radius: 80%;
    width: 200px;
    height: 200px;
}

.profilepic2 {
    border-radius: 80%;
    width: 200px;
    height: 200px;
}

.profilepic1 {
    border-radius: 80%;
    width: 200px;
    height: 200px;
}

#contactus {
    margin-left: 400px;
    margin-top: 50px;
}

#contactForm {
    margin-left: 400px;
    margin-top: 10px;
}
#ContactTitle {
    font-size: 40px;
}
#blueTitle {
    color: #31C192;
}
#rightInfo{
margin-left: 1200px;
margin-right: auto;
}
#contactFooter {
margin-left: 400px;
margin-bottom: -20px;
margin-top: 400px;
}
#email {
    border-bottom-width: thin;
}

    

li {
    
    display:list-item;
   
    
    
}
a{
    color:black;
    font-family: Arial;
    font-style: bold;
    text-decoration: none;
    padding-left: 10%;
   
    
}

blockquote{
    text-align:  right;   
}
body {
    min-width: 400;
    max-width: 800;
    
}

img {
    
    text-align: right;
   
}
footer {
    text-align: left;
font-size: 40;
 padding-right: 400; 
    
}

table {
    margin-left: 10%;
    margin-right: auto;
    padding: 75px;
    
}

.productPics {
 float: left;
}
