/*
Color Pallete
#66032E - Dark Purple
#354B00 - Dark Green (Used in BG Gradient)
#4F9A13 - Light Green (Used in BH Gradient)
#AF91B5 - Lavender
#ADBDAE - Light Blue/Grey
*/

body {
    background: -webkit-linear-gradient(top, #FFF, #4F9A13, #354B00);
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

header {
    padding: 10px;
    width: 900px;
    height: 200px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;   
    margin-bottom: 0px;
    background: -webkit-linear-gradient(top, #AF91B5, #66032E);
    -webkit-border-radius: 15px 15px 0px 0px;
    border-color: #000;
    border-width: 1px;
    border-style: solid;
}

nav {
    text-align: center;   
}

section {
    padding: 10px;
    width: 900px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
    background-color: #ADBDAE;
    border-color: #000;
    border-width: 1px;
    border-style: solid;
}

footer {
    padding: 10px;
    height: 50px;
    width: 900px;
    margin: auto;
    background: -webkit-linear-gradient(top, #3F453F, #66032E, #AF91B5);
    -webkit-border-radius: 0px 0px 15px 15px;
    border-color: #000;
    border-width: 1px;
    border-style: solid;
}

#HomeImage {
    margin: auto;
    width: 900px;
}

#CopyRText {
    margin: auto;
    text-align: center;
    color: #FFF;
}

#Logo {
    height: 200px;
    -webkit-border-radius: 15px 15px 0px 0px;
    float: left;
}

.TopNavButtons, .BottomNavButtons{
    background-color: Lavender;
    border-color: #000;
    border-width: 1px;
    border-style: solid;
    -webkit-border-radius: 5px 5px 5px 5px;
    padding: 5px;
}

.TopNavButtons{
    margin-bottom: 0px;
    margin-top: 90px;
    margin-right: 5px;
    margin-left: 5px;
}

#NavSection{
    margin-bottom: 0px;
    margin-top: 180px;
}

#BotNavSection {
    margin-top: 10px;
    text-align: center;   
}

#Map {
    width: 900px;
}

#CRMPic{
    width: 900px;   
}


